.calculator {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: blueviolet;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type='text'] {
  width: calc(100% - 18px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid blue;
  border-radius: 4px;
}

.buttons {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:blue;
}

button:active {
  transform: translateY(2px);
}
